$yellow : #ffc001;
$rose : #f51355;
$green : #6ec37d;
$baseColor : #5c2153;

@font-face {
    font-family: 'Manrope-Bold';
    src: url('../fonts/manrope/fonts/otf/Manrope-Bold.otf') format('opentype'),
    url('../fonts/manrope/fonts/web/Manrope-Bold.woff2') format('woff2'),
    url('../fonts/manrope/fonts/ttf/Manrope-Bold.ttf')  format('truetype');
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url('../fonts/manrope/fonts/otf/Manrope-ExtraBold.otf') format('opentype'),
    url('../fonts/manrope/fonts/web/Manrope-ExtraBold.woff2') format('woff2'),
    url('../fonts/manrope/fonts/ttf/Manrope-ExtraBold.ttf')  format('truetype');
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Manrope-Regular';
    src: url('../fonts/manrope/fonts/otf/Manrope-Regular.otf') format('opentype'),
    url('../fonts/manrope/fonts/web/Manrope-Regular.woff2') format('woff2'),
    url('../fonts/manrope/fonts/ttf/Manrope-Regular.ttf')  format('truetype');
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Cooperative-Regular';
    src: url('../fonts/cooperative/fonts/otf/Cooperative-Regular.otf') format('opentype'),
    url('../fonts/cooperative/fonts/web/Cooperative-Regular.woff') format('woff2'),
    url('../fonts/cooperative/fonts/ttf/Cooperative-Regular.ttf')  format('truetype');
    font-style: normal;
    font-stretch: normal;
}
