

@font-face {
    font-family: 'Manrope-Bold';
    src: url('../fonts/manrope/fonts/otf/Manrope-Bold.otf') format('opentype'),
    url('../fonts/manrope/fonts/web/Manrope-Bold.woff2') format('woff2'),
    url('../fonts/manrope/fonts/ttf/Manrope-Bold.ttf')  format('truetype');
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url('../fonts/manrope/fonts/otf/Manrope-ExtraBold.otf') format('opentype'),
    url('../fonts/manrope/fonts/web/Manrope-ExtraBold.woff2') format('woff2'),
    url('../fonts/manrope/fonts/ttf/Manrope-ExtraBold.ttf')  format('truetype');
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Manrope-Regular';
    src: url('../fonts/manrope/fonts/otf/Manrope-Regular.otf') format('opentype'),
    url('../fonts/manrope/fonts/web/Manrope-Regular.woff2') format('woff2'),
    url('../fonts/manrope/fonts/ttf/Manrope-Regular.ttf')  format('truetype');
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Cooperative-Regular';
    src: url('../fonts/cooperative/fonts/otf/Cooperative-Regular.otf') format('opentype'),
    url('../fonts/cooperative/fonts/web/Cooperative-Regular.woff') format('woff2'),
    url('../fonts/cooperative/fonts/ttf/Cooperative-Regular.ttf')  format('truetype');
    font-style: normal;
    font-stretch: normal;
}
// body {
//   overflow: hidden;
// }
h1, h2, h3, h4, h5 {
  font-family: "Manrope-Regular";
}
textarea {
  font-family: "Manrope-Regular";
  font-size: 16px;
}
.font-regular {
  font-family: "Manrope-Regular";
}

.font-bold-extra {
  font-family: "Manrope-ExtraBold";
}

.font-bold {
  font-family: "Manrope-Bold";
}
.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-30 {
  font-size: 30px !important;
}

.font-size-40 {
  font-size: 40px;
}
.font-size-50 {
  font-size: 50px;
}
.justify-content-between {
  justify-content: space-between;
}
.flex-1 {
  flex-grow: 1;
}
.color-red {
  color: #f51355;
}

.color-plus {
  color: #167c3a !important;
}

.color-minus {
  color:#9f0000 !important;
}
.color-black {
  color: #050505;
}
.whitspace-nowrap {
  white-space: nowrap;
}
.mt-10 {
  margin-bottom: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-20 {
  margin-bottom: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 30px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 2rem;
}
.mt-4rem {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.md-radio {
  .md-radio-container {
    min-width: 30px;
    height: 30px;
    top: -5px;
    border-color: #f51355 !important;
  }
  &.md-theme-default.md-checked{
    .md-radio-container {
      border-color: #f51355 !important;
    }
  } 
  &.md-checked {
    .md-radio-container:after {
      background-color: #f51355 !important;
      right: 4px;
      bottom: 4px;
      top: 4px;
      left: 4px;
    }
  }
}


.md-datepicker-dialog {
  .md-datepicker-header {
    display: none;
  }
}
.edit-btn {
  margin: 0px !important;
  min-width: auto;
  .md-ripple{
      padding: 0px !important;
      text-align: left;
      justify-content: start;
      text-transform: none;
      .md-button-content {
          font-family: 'Manrope-ExtraBold',sans-serif;
          font-size: 16px;
      }
  }
}

.normal-btn {
  min-width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  .md-ripple{
      text-transform: none;
      padding: 7px 25px !important;
      .md-button-content {
          font-family: 'Manrope-ExtraBold',sans-serif;
          font-size: 16px !important;
          // text-transform: capitalize;
      }
  }
}
.inline-input {
  height: 40px;
  padding: 10px 12px;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  border-radius: 3px;
  border: solid 1px #050505;
  text-align: center;
  font-size: 18px;
  color: #050505;
  width: 140px;
}
.edit-btn-1 {
  margin: 0px !important;
  min-width: auto;
  .md-ripple{
      padding: 7px 2px !important;
      text-align: left;
      justify-content: start;
      text-transform: none;
      .md-button-content {
          font-family: 'Manrope-ExtraBold',sans-serif;
          font-size: 16px;
      }
  }
}
.button-split {
  display: inline-block;
  padding: 0 5px;
  &:after {
    border-left: solid 2px #DBDBDB;
    height: 1em;
    content: " ";
    position: absolute;
    top: 1.5em;
    padding: 14px;
  }
}
.lastDroppingCard {
  padding-bottom: 300px;
}

hr {
  height: 1px;
  border: none;
  background: #B7B7B7;
}
.md-checkbox-label{
  padding-top: 4px;
  color: #050505 !important;
}
.text-transform-capitalize {
  text-transform: capitalize;
}
.text-transform-uppercase {
  text-transform: uppercase;
}