

@font-face {
    font-family: 'Manrope-Bold';
    src: url('../fonts/manrope/fonts/otf/Manrope-Bold.otf') format('opentype'),
    url('../fonts/manrope/fonts/web/Manrope-Bold.woff2') format('woff2'),
    url('../fonts/manrope/fonts/ttf/Manrope-Bold.ttf')  format('truetype');
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url('../fonts/manrope/fonts/otf/Manrope-ExtraBold.otf') format('opentype'),
    url('../fonts/manrope/fonts/web/Manrope-ExtraBold.woff2') format('woff2'),
    url('../fonts/manrope/fonts/ttf/Manrope-ExtraBold.ttf')  format('truetype');
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Manrope-Regular';
    src: url('../fonts/manrope/fonts/otf/Manrope-Regular.otf') format('opentype'),
    url('../fonts/manrope/fonts/web/Manrope-Regular.woff2') format('woff2'),
    url('../fonts/manrope/fonts/ttf/Manrope-Regular.ttf')  format('truetype');
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Cooperative-Regular';
    src: url('../fonts/cooperative/fonts/otf/Cooperative-Regular.otf') format('opentype'),
    url('../fonts/cooperative/fonts/web/Cooperative-Regular.woff') format('woff2'),
    url('../fonts/cooperative/fonts/ttf/Cooperative-Regular.ttf')  format('truetype');
    font-style: normal;
    font-stretch: normal;
}
.font-regular {
  font-family: "Manrope-Regular";
}

.font-bold-extra {
  font-family: "Manrope-ExtraBold";
}

.font-bold {
  font-family: "Manrope-Bold";
}
.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-30 {
  font-size: 30px;
}
.font-size-40 {
  font-size: 40px;
}

.color-red {
  color: #f51355;
}

.color-black {
  color: #050505;
}
.mb-10 {
  margin-bottom: 10px;
}

.mb-50 {
  margin-bottom: 50px;
}

.md-radio {
  .md-radio-container {
    min-width: 30px;
    height: 30px;
    top: -5px;
    border-color: #f51355 !important;
  }
  &.md-theme-default.md-checked{
    .md-radio-container {
      border-color: #f51355 !important;
    }
  } 
  &.md-checked {
    .md-radio-container:after {
      background-color: #f51355 !important;
      right: 4px;
      bottom: 4px;
      top: 4px;
      left: 4px;
    }
  }
}


.md-datepicker-dialog {
  .md-datepicker-header {
    display: none;
  }
}
.edit-btn {
  margin: 0px !important;
  min-width: auto;
  .md-ripple{
      padding: 0px !important;
      text-align: left;
      justify-content: start;
      text-transform: none;
      .md-button-content {
          font-family: 'Manrope-ExtraBold',sans-serif;
          font-size: 16px;
      }
  }
}