.md-field .md-error { // show md-error spans
  opacity: 1;
  margin-bottom: 6px;
  color: red;
}
.select-with-icon .md-icon.md-theme-default.md-icon-font.md-accent { // styling select + icon
  margin-right: 13px;
}

.mb16 { // just margin style class
  margin-bottom: 16px;
}
