.md-field .md-error { // show md-error spans
  opacity: 1;
  margin-bottom: 6px;
  color: red;
}
.select-with-icon .md-icon.md-theme-default.md-icon-font.md-accent { // styling select + icon
  margin-right: 13px;
}

.mb16 { // just margin style class
  margin-bottom: 16px;
}


/* Tooltips  v-tooltip */

$tooltip-background-color: $blue-grey-50 !default;
$tooltip-border-color: $blue-grey-200 !default;

.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: $tooltip-background-color;
    color: $gray-base;
    border-radius: 6px;
    padding: 8px 10px 6px;
    border: 1px solid $tooltip-border-color;
    font-size: $font-size-base;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: $tooltip-border-color;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

.vendors-actions-list {
  margin-top : 2em;
  float: right;
  margin-left: 1em;
}

.vendors-table {
  &_item {
    &.selected {
      background: #efefef;
    }
  }
  &_item-actions {
    >.md-table-cell-container {
      flex: 1;
      display: flex;
      justify-content: space-around;
      .md-button  {
        >div[class^="md-"]{
          padding : 0 !important;
        }
      }
    }
  }
  .star-rating__star {
    padding : 0;
    font-size : 1.2em;
  }
}

.vendor-form {
  .md-card-actions {
    border : none;
    padding : 0;
    position : absolute;
    top : 1.4em;
    right :0;
  }
  .md-chips.md-field {
    padding : 0;
    margin-top : 0;
  }
}

.contact-person-list {
  padding : 0;
  position: relative;
  .md-layout-item {
    display: inline-block;
    position: relative;


    .md-field {
      margin: 0;
      padding-bottom: 0;
    }
  }
  .delete-item {
    position: absolute;
    left: -0.9em;
    top: 8px;
    opacity: 0;
    cursor: pointer;

  }

  &:hover {
    .delete-item {
      opacity: 1;
    }
  }
}
.margin-bottom {
  &_30{
    margin-bottom : 30px;
  }
}

/**
 * Event Page
 */
.proposals-management {

  .proposals-management_items {
    align-content : flex-start;
  }

  .proposals-management_item {
    margin-bottom : 0;

    .md-actions {


      .md-button {
        min-width : 1px;
        background: none !important;
        box-shadow: none;
        margin : 0;

        .md-ripple {
          padding : 0 !important;
          background: none;

          i {
            width : auto;
            height : auto;
            line-height:inherit;
          }
        }
      }
    }

    .card-header {
      margin : 0;
      padding: 3px 10px;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;

      &.card-success {
        background: $brand-success;
      }

      &.card-info {
        background: $brand-info;
      }

    }

    [class*=md-card-header-] {
      margin : 0;
      position: relative;
      display: flex;
      flex: 1;
      justify-content: space-between;

      .md-title {
        font-size: 18px;
        color : #fff;
        margin :0 !important;
        font-weight: 500;
      }
    }



    .md-card-content {
      padding: 6px 0;
    }
  }

  .item-content {
    padding: 0 0.8em;
    color: rgba(149, 149, 149, 0.8);

    .personals-number {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      margin-top : 0.5em;
    }
    .item-info {
      list-style: none;
      padding : 0;
      margin  :0.5em 0;
      li {
        display: flex;
        flex : 1;
        justify-content: space-between;
        font-weight: bold;
        font-size: 12px;
      }
    }
  }

  .md-card-actions {
    .md-button {
      min-width : 1px;
      background: none !important;
      box-shadow: none;
      margin : 0 auto;

      .md-ripple {
        padding : 0 !important;
        background: none;
        color: #21c998;
        font-weight: bold;
        font-size: 11px;
        text-transform: capitalize;
      }
    }
  }

  &_add-block {
    text-align: center;
    border : 1px dashed #e1e1e1;
    box-shadow : none;
    height: 183px;

    .md-card-content {
      height: 100%;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction:column;
      color: rgba(149, 149, 149, 0.8);

      i {
        margin: 0 auto .2em;
      }
    }
  }

  &_keys {
    .keys_list{
      flex : 1;
      display: flex;
      justify-content: space-around;
      list-style: none;
      flex-direction: row;
      li.list-item {
        font-size: 11px;
        color: #797979;
        position: relative;
        &:after {
          content : ' ';
          width: 11px;
          height: 11px;
          position: absolute;
          left: -1.5em;
          top: -2px;
          bottom:0;
          margin:auto;
          background: $gray-light;
        }
        &.item {
          &-success {
            &:after {
              background: $brand-success;
            }
          }
          &-warning {
            &:after {
              background: $brand-warning;
            }
          }

          &-info {
            &:after {
              background: $brand-info;
            }
          }
          &-rose {
            &:after {
              background: $brand-rose;
            }
          }

        }

      }
    }
  }
}

/**
 * Event Blocks
 */
.event-blocks {
  margin-top: 1.2em;
}

.blocks-list {
  &_item {
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    margin-bottom : 1em;

    .block-actions {
      text-align: right;
      margin-top : 1em;
    }
  }
}

.sidebar {
  .nav {
    li {
      button {
        margin : 10px 15px 0;
        width: 89%;
        display: block;
        white-space: nowrap;
        .md-icon.md-theme-default.md-icon-font {
          color : #fff !important;
          margin-right: 6px !important;
          width: auto;
          font-size: 25px !important;
        }

      }
    }
  }
}

.sidebar-mini {
  .sidebar {
    .nav {
      li {
        button {
          width: 61%;
          margin: 10px auto;
          min-width: auto;

          .md-ripple {
            padding: 12px 0 !important;
          }
          .md-icon.md-theme-default.md-icon-font {
            margin-right: 0 !important;
          }
          span {
            display: none;
          }
        }
      }
    }
    &:hover {
      .nav {
        li {
          button {
            margin: 10px 15px 0;
            width: 89%;
            display: block;
            white-space: nowrap;

            .md-icon.md-theme-default.md-icon-font {
              margin-right: 6px !important;
            }
            span {
              display: block;
            }
          }
        }
      }
    }
  }
}

.manage-proposals {
  align-content: flex-start;
}

.md-switch-info {
  &.md-checked {
    .md-switch-thumb {
      border: 1px solid #64b5f6 !important;
    }

    .md-switch-container {
      background-color: #64b5f6 !important;
    }
  }
}

/**
 * Event TimeLine
 */
.time-line-blocks {
  padding : 0;

  &_items {
    align-content: flex-start;
    .md-layout-item {
      padding : 0;
    }
  }

  h5 {
    margin : 0;
    font-size: 15px;

    &.section-desc {
      margin-bottom : 2em;
    }
  }


  &_item {
    position: relative;
    padding : 0.7em  3.5em;
    margin-bottom: 1.2em;
    border-radius: 3px;
    color : #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.21);

    &:active {
      transform: rotate(2deg);
    }

    .md-icon {
      position: absolute;
      left: 0.6em;
      color : #fff !important;
      font-size: 22px !important;
    }

    h5 {
      font-weight: 500;
      text-transform: uppercase;
    }

  }

  &_selected-items {
    list-style: none;
    padding : 0;

    &_item {
      position : relative;
      padding-left : 90px;

      .md-icon.time-line-blocks_icon {
        position: absolute;
        left : 0;
        top: -4px;
        font-size : 35px !important;
        width : 51px;
        height : 51px;
        background: #eeeeee;
        color : #bcbcbc !important;
        box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, 0.14);
        border-radius: 50%;
      }

      .drag-here {
        border-radius: 10px;
        background-color: #e4e4e4;
        font-size: 16px;
        opacity: 0.87;
        text-align: center;
        color: rgba(149, 149, 149, 0.87);
        padding : 10px;

      }

      &.time-line-item {
        position: relative;

        &:after {
          content : '';
          position : absolute;
          width : 2px;
          height: 100%;
          background-color: #e5e5e5;
          left: 25px;
          top: 76px;

        }
        .md-icon.time-line-blocks_icon {
          color : #fff !important;
          font-size: 25px !important;
          top: 1em;
        }

        .md-card {
          border-radius: 6px;
          box-shadow: 0px 1px 24px 0 rgba(0, 0, 0, 0.14);
          padding : 10px 20px;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            left: -14px;
            top: 26px;
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid #16141400;
            border-right: 20px solid #fff;
          }

          .item-time {
            color : #fff;
            padding: 4px 13px;
            font-size: 12px;
            font-weight: 900;
            border-radius: 100px;
            margin-right: 1em;
          }
          .item-title {
            opacity: 0.87;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.87);
          }
          .item-desc {

          }
        }

        .md-card-content {
          padding : 7px 0;
        }
      }

      .block-info {
        position : relative;

        .card-actions {
          position: absolute;
          right : 0;
          top : 0;
        }
      }
    }
  }
}

.time-line-section {
  position :relative;

  .preview-event {
    position : absolute;
    right : 0;
    top : 1.8em;
  }

}

/**
 * Event Details
 */
.event-details {

  &_banner {
    background : #efefef;
    height : 260px;
    box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-top : -3em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .event-title-date {

    .md-input ,h4 {
      font-size: 40px;
      font-weight: 500;
      margin : 20px 0 17px;
    }

    .event-date {
      font-size: 25px;
      color : #999 !important;
      -webkit-text-fill-color: #999 !important;
      font-weight: 400;
    }

    .md-datepicker {
      margin-top : 0;

      .md-input {
        font-size: 25px;
        color : #999 !important;
        -webkit-text-fill-color: #999 !important;
        font-weight: 400;
      }
    }
  }

  .md-card-tabs {
    box-shadow: none;
    border : none;
    margin-top: 4em;
  }

  .flex-column {
    .md-list {
      min-width : 229px;

      .md-list-item-button {
        border-radius: 100px;
      }
    }
    .tab-content {
     text-align: left;
    }
  }
  .questions-answers-list {
    .md-card {
      box-shadow: none;
      border : none;
      .md-card-header {
        padding :0;
      }
      .md-card-content {
        padding : 0 ;

        .md-collapse-title {
          padding : 0;
        }
      }
    }

    .md-layout-item:not(.md-collapse-title) {
      padding : 0;
      text-align: right;
      .md-layout .md-layout {
        justify-content: flex-end;
      }
    }
  }
  .event-images-list {
    align-content : center;
    justify-content: center;

    margin-top: 2rem;

    .md-card {
      padding : 0;
      margin :  0 2em 2em 0;
      min-width: 28%;
      max-width: 28%;
      flex: 0 1 28%;

      .event-images_image-item {
        height: 111px;
        border-radius: 2.1px;
        box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.2);
        background-position: center center;
        background-size : cover !important;
        background-repeat: no-repeat;
      }
    }

    .default-image-box {
      height: 111px;
      box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.2);
      border-radius: 2.1px;
      background: #efefef;
      text-align: center;
      padding-top: 40px;
      font-weight: bold;
      opacity: 0.5;

    }
  }

  .time-line-blocks_selected-items_item.time-line-item:last-child:after {
    display: none;
  }
}

.event-info {
  margin : 2em auto;

  .info-item {
    margin-bottom : 1em;
    flex : 0;

    h4 {
      font-weight: 500;
      margin: 0 0 5px;
      font-size: 13px;
      padding-left : 0;
      text-align: center;
    }

    .md-has-textarea {
      margin-top : 0;
      padding-left : 0;

      .md-textarea {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 300;
        font-size : 14px;
        width : 100%;
        height: auto;
        padding: 12px !important;
      }

      &:not(.editable) {

        &:after {
          display: none;
        }

        .md-textarea {
          resize: none;
          pointer-events: none;
        }
      }


    }
  }

  .tabs-actions {
    .md-button {
      margin-left : 0 !important;
    }
  }
}


.publish-event {
  margin-left : 15px;
}

.edit-timeline-btn  , .edit-event-component{
  margin-left : 15px !important;
}

.event_questions-answers-modal , .event_header-image-modal , .event-modal{

  .modal-header {
    h4 {
      margin : 0;
    }
  }
  .modal-body {
    overflow: auto;
    max-height: 430px;
    margin : 1em auto;
  }

  .question-item {
    margin-bottom: 1em;
    border: 1px solid #efefef;
    padding: 1em;
    border-radius: 5px;

    .md-field {
      margin-top : 0 !important;
    }
  }

  .add-question-btn {
    //width : 100%;
  }
}

.header-images-list {

  &_item {

    margin-bottom : 1em;
    position: relative;

    img {
      border-radius: 2.1px;
      box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.2);
      border : 2px solid transparent;


      &.selected {
        border : 2px solid $brand-rose;
      }
    }

    .md-button {
      position: absolute;
      top : 0;
      right : 0.5em;
      height: auto;

      .md-icon.md-theme-default.md-icon-font {
        color : #fff !important;
      }
    }

  }
}

.event_header-image-modal {
  .preview-image {
    position : fixed;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    z-index : 9999999999999;
    background: #00000094;
    text-align: center;
    padding: 0 10%;

    .md-button {
      position: absolute;
      right: 9%;
      top: 9%;
    }
    img {
      margin : 10% auto;
    }
  }

  .modal-container {
    max-width: 990px;
  }
}

.event_publish-modal {
  p {
    font-size: 15px;
  }

  #event-link {
    pointer-events: none;
  }
}

.event-confirmation {
  .number-of-users {
    color : #3c4858;
  }
  .confirmation-section {
    h4 {
        display : inline-block;
        margin-right : 0.5em;
    }

    .md-button {
      margin-top: 2em;
    }
  }
}
@import 'vue-image-lightbox/dist/vue-image-lightbox.min.css';


.company-title {
  .vlabeledit {

    .vlabeledit-label {
      font-weight: 500;
      font-size: 21px;
      padding: 3px;
      border: 1px solid transparent;
      display: inline-block;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 60%;
      width: 60%;

      &:hover {
        border: 1px solid lightgray;
        border-radius: 5px;
      }
    }

    .vlabeledit-input {
      font-size: 21px;
      font-weight: 500;
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 3px;
    }
  }
}

.company-profile-section {
  .vlabeledit {

    .vlabeledit-label {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      border: 1px solid transparent;
      display: inline-block;
      width: 100%;
      padding: 3px;
      font-size: 12px;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;

      &:hover {
        border: 1px solid lightgray;
        border-radius: 5px;
      }
    }

    .vlabeledit-input {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      border: 1px solid lightgray;
      border-radius: 5px;
      width: 100%;
      padding: 8px;

      &::-webkit-input-placeholder {
        font-size: 12px;
      }
    }
  }
}

.profile-title {
  text-align: left !important;
  margin-top: 12px !important;
}

.full-page {
  padding : 24px;
}

.invitees-management {
  width : 100%;
  margin-top : 1.4em;

  .rsvp-card {
    background: #eb3e79;
    color : #fff;
    margin-left: 2%;
    position : relative;
    padding-top  : 2em;

    &_icon {
      position: absolute;
      background: #fff;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      top : -1.5em;
      text-align : center;
      box-shadow : 0 4px 25px 0 rgba(0, 0, 0, 0.12);
      padding-top : 6px;

      .md-icon {
        color : #eb3e79;
        font-size: 21px !important;
      }

    }

    .md-layout {
      align-content: flex-start;

      >.md-layout-item {
        padding: 0 10px;
      }
      .md-form-label {
        font-size: 18px;
        font-weight: 500;
      }

      .md-checkbox-label , .md-radio-label {
        font-size: 14px;
        color : #fff;
      }
      .md-checkbox.md-theme-default .md-checkbox-container , .md-radio.md-theme-default .md-radio-container{
        border-color: white !important;
        background: white !important;
      }
    }
  }

  .add-interaction-section {
    border : 1px solid #efefef;
    border-radius: 5px;
    padding : 0 1em;

    .md-form-label {
      text-align: left;
    }
  }

  .preview-item {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
  }
}
.interactions-list {

  &_item {
    border : 1px solid #efefef;
    border-radius: 5px;
    padding : 0 1em;
    margin-bottom : 1em;

  }
  .md-form-label {
    text-align: left !important;
  }

  .interaction-images {
    overflow-x: auto;
    padding : 0 1em;

    ul {
      display: flex;
      flex : 1;
      flex-direction: row;
      list-style: none;
      padding : 0;

      li {
        margin-right : 0.5em;
        .image-item {
          width : 86.7px !important;
          height: 58px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover !important;
        }

        input {
          max-width: 100%;
        }
      }
    }
  }

  .send-date-field {
    display: flex;
    flex : 1;
    flex-direction: row;
  }


}

.no-padding {
  padding: 0 !important;
}

.sticky-budget {
  width: 90%;
  right: 1em;
  position: fixed;
  bottom : 0;
  background: white;
  z-index: 9999999999999999;
  padding: 0.3em;
  border-radius: 4px;
  box-shadow: 0px -2px 2px 0 rgba(153, 153, 153, 0.14), 0px -1px 5px 0 rgba(153, 153, 153, 0.12);

  >.md-layout >.md-layout-item {
    align-items: center;
    display: flex;
    flex-direction: row;

    .section-content {
      width: 100%;
    }
  }
  .md-gutter{
    >.md-layout-item {
      font-size: 15px;
      font-weight: 300;
      color: #000000;
      line-height: 30px;
    }
  }

  .building-blocks-list {
    border-radius: 5px;
    box-shadow: 0px -4px 20px 0 rgba(0, 0, 0, 0.14);
    background: linear-gradient(to right, #26c6da, #00acc1);
    width : 100%;

    .md-gutter{
      margin: 0;

      >.md-layout-item {
        font-size: 14px;
        font-weight: 400;
        color: #fff;

        &.title-text {
          width : 30%;
        }
      }

      &.gutter-header {
        background: rgba(255,255,255,0.15);
        margin-bottom: 0.7em;
        position: relative;
        >.md-layout-item {
          text-transform: uppercase;
          font-weight: 600;
        }

        .edit-blocks {
          position : absolute;
          right : 0;
          min-height: auto;
          height: auto;

          .md-ripple {
            padding : 0 !important;
          }

          .md-icon {
            color : #fff !important;
          }
        }
      }
    }
  }

  .budgets-charts {

    position: relative;

    &_list {
      width: 100%;
    }
    .ct-series-b .ct-slice-donut {
      stroke: #eee;
    }

    .md-gutter{
      margin-bottom : 0.7em;
      .md-caption {
        padding-left : 0;
      }

    }


  }

  .line-chart-section {
    h4.title {
      font-size: 18px;
      margin : 0;
    }

    p.category {
      margin : 0;
      font-size: 14px;
      color : #999;
    }

    .md-card {
      margin-bottom: 0;

      [class*=md-card-header-] {
        margin : 0;
      }

      .md-card-content {
        padding : 0;
      }

      .md-card-actions {
        display : none;
      }
    }
  }

  .event-info {
    padding : 0;
    list-style: none;
    margin : 0;
    text-decoration: none;

    li {
      display: inline-block;
      margin-right : 1.5em;

      .md-icon {
        margin-right: 0.2em;
      }
    }

    &.budget-info {
      text-align: right;

      li {
        border-radius: 5px;
        background-color: rgba(21, 130, 98, 0.1);
        font-size: 15px;
        padding : 5px 10px;

        .md-icon {
          margin-left: 0.2em;
          margin-right: 0;
        }

        .budget-title, .budget-value {
          color : #000;
          font-size : 15px;
          display: inline-block;
        }
        .budget-title {
          margin-right: 1em;
        }

        .budget-value {
          &.red-value {
            color: #ff0000;
          }
        }
      }
    }
  }
}
@media screen and (max-width : 500px) {
  .event-details {
    &_content.md-card-content {
      padding : 15px 8px;

      .event-title-date {
        h4 {
          font-size: 25px;
          margin : 8px 0 5px;
        }
        .event-date {
          font-size: 19px;
        }
      }
      .event-confirmation {
        position : relative;

        .number-of-users {
          position : absolute;
          right : 0;
          top : -2em;
        }
        .confirmation-section {
          h4 {
            font-size: 1.5rem;
          }

          .md-button {
            min-width: 1px;
            .md-ripple {
              padding: 0.5em 0.8em !important;
              font-size: 18px;
              width: 70px;
            }
          }
        }
      }

    }
  }

  .event-details-tabs {
    padding : 0;

    .md-card-content {
      padding : 0;
    }
    .md-card-tabs .md-list {
      margin-left : 0 !important;
      padding-left : 0 !important;
      box-shadow: none;
      width: 100% !important;

      .md-list-item {
        margin-left : 0;
        width : 33%;

        .md-list-item-button {
          border-radius: 100px;
          font-size: 12px;
        }
      }
    }

    .info-item  {
      .md-button {
        font-size: 14px;
        font-weight: 500;
        color: #555555 !important;
        background: none !important;
        box-shadow: none;
        text-align: left;
        padding: 0px 12px;
      }

      .md-has-textarea {
        .md-textarea {
          padding :0 !important;
          overflow: hidden;
          min-height: 1px;
          background: #fff;
        }
      }
    }
    .questions-answers-list {
      text-align: left;
    }

    .md-card-tabs {
      margin-top : 2em;
    }
    .event-images-list {
      justify-content: flex-start;
      .md-card {
        margin :  0 2% 4px 0;
        min-width: 48%;
        max-width: 48%;
        flex: 0 1 48%;
      }
    }

    .time-line-section {
      h4 {
        display: none;
      }
    }
  }

  .full-page {
    padding : 0 !important;
  }

  .time-line-blocks_selected-items {
    text-align: left;

    &_item {
      padding-left : 70px;
    }
  }
}

@media screen and (max-width : 375px) {
  .event-details_content.md-card-content {
    .event-confirmation {
      .confirmation-section {
        h4 {
          font-size: 1.3rem;
        }
        .md-button .md-ripple {
          font-size: 15px;
          width: 60px;
        }

      }
    }
  }
}

@media screen and (max-width : 320px) {
  .event-details_content.md-card-content {
    .event-confirmation {
      .confirmation-section {
        h4 {
          font-size: 1rem;
        }
        .md-button .md-ripple {
          font-size: 15px;
          width: 50px;
        }

      }
    }
  }

  .time-line-blocks_selected-items{
    &_item.time-line-item {
      .md-card {
        .item-title {
          margin-top: 0.5em;
          display: inline-block;
        }
      }
    }
  }
}
