$yellow : #ffc001;


@font-face {
    font-family: 'Manrope-Bold';
    src: url('../fonts/manrope/ttf/Manrope-Bold.ttf');
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url('../fonts/manrope/ttf/Manrope-ExtraBold.ttf');
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'Manrope-Regular';
    src: url('../fonts/manrope/ttf/Manrope-Regular.ttf');
    font-style: normal;
    font-stretch: normal;
}

.new-event-side-bar {
    .sidebar-wrapper {
        .md-list {
            li {
                border-bottom : 1px solid rgba(0, 0, 0, 0.13);
                border-left : 7px solid rgba(0,0,0,0);

                a {
                    .md-icon.md-theme-default.md-icon-font {
                        color : #000 !important;
                    }
                }

                &.active {
                    border-left : 7px solid $yellow;

                    a.nav-link {
                        background: none;
                        box-shadow : none;
                        border-radius: 0;

                        .md-icon.md-theme-default.md-icon-font {
                            color : $yellow !important;
                        }
                    }

                }
            }
        }
    }
}

.d-flex {
    display : flex;
}

.justify-content{
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
}

.event-header {
    padding : 1em;
}
.header-title {
    h3 {
        margin : 0;
        font-family: 'Manrope-ExtraBold';
        text-transform: uppercase;
        color : #000;
        img {
            margin-right : 1em;
            width : 15px;
        }
    }
}
.header-actions {
    ul {
        list-style: none;
        padding : 0;
        margin : 0;
        li {
            display: inline-block;
            margin-left : 0.4em;
            a {
                width: 38px;
                height: 38px;
                box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.15);
                background-color: #ffffff;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                color : #000 !important;
                padding-top: 7px;
            }
        }
    }
}

.card-section {
    border-radius: 3px;
    box-shadow: 0 3px 41px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    margin-bottom : 1em;

    .section-header {
        border-bottom : 1px solid #e2e2e2;
        padding: 10px;
        font-family: 'Manrope-Bold',sans-serif;
        font-size: 14px;
        color: #050505;
    }
}

.budget-list {
    text-align: center;

    &__item {
        width : 33%;
        padding : 1.7em 0;
        margin : .3em 0;

        &:not(:last-child) {
            border-right : 1px solid #e2e2e2;
        }
        .label-title {
            font-size: 14px;
            font-family: 'Manrope-ExtraBold',sans-serif;
            color: #050505;
        }
        .budget-value {
            font-size: 30px;
            color: #050505;
            margin: 0.4em auto;
        }
        a {
            font-size: 13px;
            font-family: 'Manrope-ExtraBold',sans-serif;
            color: #f51355 !important;
        }
        .percent {
            font-size: 13px;
            color: #818080;
        }
    }
}
.saved-budget {
    padding : 1em 0;
    font-size: 18px;

    b {
        font-size: 22px;
    }
}

.event-blocks-table {

    .md-card {
        .md-card-content {
            padding-left: 0;
            padding-right: 0;
        }

        .md-list {

            .md-list-item {

                &-button {
                    border-bottom : 2px solid rgba(0,0,0,0);
                    text-transform: capitalize;
                    font-size : 17px;
                }
                &.active {
                    .md-list-item-button {
                        background: none !important;
                        border-bottom-color: #000;
                        box-shadow: none;
                        border-radius: 0;
                        color: #000 !important;
                        font-weight: bold;
                    }
                }
            }
            img {
                height: 18px;
                width: auto;
                margin-right : 0.5em;
            }
        }
    }

    .nav-tabs.md-card {
        margin-left : auto;
        padding-left : 0;
        justify-content: center !important;
        border-radius: 3px;
        box-shadow: 0 3px 41px 0 rgba(0, 0, 0, 0.08);
    }

    .md-card-tabs .tab-content {
        margin : 0 !important;
        background: none;
    }

    .event-blocks__table {
        width : 100%;
        font-family: 'Manrope-Regular',sans-serif;
        border-collapse: separate;
        border-spacing: 0 1em;
        margin-top: 0.4em;
        text-align: left;
        color: #050505;

        td,th {
            margin: 0;
        }

        thead {
            tr {
                border-radius: 3px 3px 0 0;
                box-shadow: 0 3px 41px 0 rgba(0, 0, 0, 0.08);
                background-color: #ffffff;
            }
            th {
                font-size: 12px;
                color: #050505;
                padding : 0.5em 0 0.5em 1.7em;
            }
        }

        tbody {

            tr {
                box-shadow: 0 3px 41px 0 rgba(0, 0, 0, 0.08);
                background: #fff;
                border-radius: 3px;
            }
            td {
                padding : 1.2em 0 1.2em 1.4em;
                position: relative;

                &:first-child {
                    border-radius: 3px 0 0 3px;
                }

                &:last-child {
                    border-radius: 0 3px 3px 0;
                }

                &.vendor {
                    font-family: 'Manrope-Bold',sans-serif;
                    font-size: 16px;

                    img {
                        width : 20px;
                        margin-right : 1em;
                    }

                    &:after {
                        width : 7px;
                        background: #641956;
                        height: 100%;
                        content : ' ';
                        position: absolute;
                        left : 0;
                        top : 0;
                        border-radius: 3px 0 0 3px;
                    }
                }

                &.actual {
                    color : #818080;
                    img {
                        width : 16px;
                        margin-right : 1em;
                    }

                    &.red-label {
                        color : #9f0000;
                        font-family: 'Manrope-Bold',sans-serif;
                    }

                    &.green-label {
                        color : #167c3a;
                        font-family: 'Manrope-Bold',sans-serif;
                    }
                }

                &.status {
                    img {
                        width : 26px;
                    }

                    .book-btn {
                        margin: 0;
                        .md-ripple {
                            border-radius: 2px;
                            background-color: #f51355;
                            padding: 0.9em 0 !important;
                            font-family: 'Manrope-Bold',sans-serif;
                        }
                    }
                }

                &.expand {
                    img {
                        width : 18px;
                    }
                }

                &.completed {
                    background: rgba(56, 255, 126, 0.29);
                }
            }
        }
    }
}


