.vfc-week .vfc-day span.vfc-span-day.vfc-marked {
  margin: auto;
  background-color: $red !important;
  border-radius: 50%;
  opacity: 1;
  z-index: 1;
}
.vfc-navigation-buttons div, .vfc-separately-navigation-buttons div {
  color: #f51355 !important;
  margin: 20px 30px !important;
  border-color: #f51355 !important;
}