@mixin background-icon($url) {
  background: $url;
  background-repeat: no-repeat;
  background-size: 25px 50%;
  background-position: left;
  padding: 0px 40px;
}
.maryoku_input {
  padding: 5px;
  padding-left: 20px;
  border-radius: 3px;
  border: solid 0.5px #bcbcbc;
  input {
    min-height: 50px;
    background: #ffffff;
    border:none;
    box-shadow: none;
    width: 100%;
    padding: 0 1.5em;
    font-size: 15px;
    color: #050505;
    font-family: 'Manrope-Regular',sans-serif;
   
    &.normal {
      padding-left: 0px;
    }
    &.location {
      &.active {
        @include background-icon(url('http://static.maryoku.com/storage/icons/Event%20Page/location-dark.svg'))
      }
      @include background-icon(url('http://static.maryoku.com/storage/icons/Event%20Page/location-gray.svg'))
    }
    &.budget {
      &.active {
        @include background-icon(url('http://static.maryoku.com/storage/icons/Event%20Page/budget-dark.svg'))
      }
      @include background-icon(url('http://static.maryoku.com/storage/icons/Event%20Page/budget-gray.svg'))
    }
    &.phone {
      &.active {
        @include background-icon(url('http://static.maryoku.com/storage/icons/Choose+vendor+and+Proposal/phone-dark.svg'))
      }
      @include background-icon(url('http://static.maryoku.com/storage/icons/Choose+vendor+and+Proposal/phone-gray.svg'))
    }
    &.email {
      &.active {
        @include background-icon(url('http://static.maryoku.com/storage/icons/Choose+vendor+and+Proposal/email-dark.svg'))
      }
      @include background-icon(url('http://static.maryoku.com/storage/icons/Choose+vendor+and+Proposal/email-gray.svg'))
    }
    
  }
}

.upload-section {
  width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 115px;
    padding: 15px 20px;
    border-radius: 3px;
    border: dashed 1px #f51355;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .upload-button {
      border: 1px solid #f51355;
      text-transform: capitalize;
      font-weight: bold;
      color: #f51355 !important;
      border-radius: 3px;
      padding: 4px 20px;
      i {
        transform: rotate(-90deg);
      }
    }
}

.attchment-item {
  max-width: 262px;
  min-height: 57px;
  border-radius: 3px;
  border: solid 1px #f51355;
  background-color: #ffffff;
  text-align: center;
  font-family: "Manrope-Regular";
  font-size: 16px;
  color: #f51355;
  padding:0 40px 0 20px;
  display: flex;
  align-items: center;
  align-content: center;;
  justify-content: space-between;
  span {
    flex-grow: 1;
  }
  button {
    width: 30px;
    height: 30px;
    background-color: #f51355;
    border-radius: 50%;
    border: none;
    padding:0px;
    i {
      color:white !important;
      font-size: 25px !important;
    }
  }
}