.v-step {
  background-color :#F51355 !important;
  font-family: 'Manrope-Bold';
  &__header {
    background-color :#F51355 !important;
    border:none;
    font-family: 'Manrope-ExtraBold';
  }
  &__content {
    text-align: justify;
    padding: 0 20px 20px 20px;
  }

}