.v-step {
  background-color :#F51355 !important;
  font-family: 'Manrope-Bold';
  max-width: 400px !important;
  &.dark {
    background-color: #383838 !important;
    .v-step__header {
      background-color: #383838 !important;
    }
  }
  &__header {
    background-color :#F51355 !important;
    border:none;
    font-family: 'Manrope-ExtraBold';
    text-align: left;
    padding: 15px 35px !important;
  }
  &__content {
    text-align: justify;
    padding: 0 20px 20px 20px;
  }
  &__arrow--dark {
    border-color: #F51355 !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
  }

}