.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .15s ease;
}

.modal-wrapper {
  max-height: 100vh;
  overflow: auto;
}

.picture{
  max-width: 150px;

  img{
    border-radius: 6px;
  }
}

.modal-title{
  margin: 0;
  line-height: 1.5;
}

.modal-body{
  padding: 24px 24px 16px;

  p{
    margin-top: 0;
  }
}

.modal-container {
  max-width: 900px;
  margin: 0px auto;
  z-index: 999999;
  position: relative;
  background-color: #fff;
  transition: all .3s ease;
  box-shadow: 0 27px 24px 0 rgba(0,0,0,.2), 0 40px 77px 0 rgba(0,0,0,.22);
  border-radius: 6px;
  border: none;
  &.xl {
    max-width: 1200px;
  }
  &.lg {
    max-width: 1040px;
  }
  &.sl {
    max-width: 900px;
  }
  &.sm {
    max-width: 640px;
  }
  &.sign-in {
    max-width: 492px;
  }
  &.border-radius-28 {
    border-radius: 28px;
  }
  &.ml {
    max-width: 1102px;
  }
}

.proposal-submitted {

    .modal-container {
      max-width: 1040px;
      width: 1040px;
      height: 535px;
      margin: 0px auto;
      z-index: 999999;
      position: relative;
      background-color: #fff;
      transition: all .3s ease;
      box-shadow: 0 27px 24px 0 rgba(0,0,0,.2), 0 40px 77px 0 rgba(0,0,0,.22);
      border-radius: 6px;
      border: none;
      &.xl {
        max-width: 1200px;
      }
      &.lg {
        max-width: 1040px;
      }
      &.sl {
        max-width: 900px;
      }
      &.sm {
        max-width: 640px;
      }
      &.sign-in {
        max-width: 492px;
      }
      &.border-radius-28 {
        border-radius: 28px;
      }
      &.ml {
        max-width: 1102px;
      }
    }
}

.send-proposal-modal {
    &.adaptive {
        .modal-container {
            width: 781px;
            max-width: 781px;
        }
    }
}
.refer-vendor-modal{
    &.adaptive {
        .modal-container {
            width: 900px;
            max-width: 900px;
        }
    }
}
.header-description{
    &.adaptive{
        font-size: 14px !important;
    }

}

.sharing-model{
    &.adaptive{
        .modal-container {
            width: 900px;
            max-width: 900px;
        }
        .modal-header{
            justify-content: flex-start;
            padding: 40px 60px 0
        }
        .modal-header .md-button {
            box-shadow: none;
            margin-right: 30px;
        }
        .modal-footer{
            .md-button{
                width: 160px;
                height: 44px;
                //box-shadow: 0 3px 17px 0 rgb(0 0 0 / 15%);
                background-color: rgb(245, 19, 85) !important;
                border-radius: 3px;
                color: white !important;
                margin: 0px 0px 40px 0px;

        }
    }
}
}
.sync-calendar-event-modal {
    .modal-container {
        width: 900px;
        max-width: 900px;
        height: 518px;
    }
    .modal-header .md-button {
        box-shadow: none;
    }
}


.modal-container-wizard {
    max-width: 80%;
    &.md{
      max-width: 60%;
    }
  margin: 0 auto;
  padding: 0;
  left: 2.5%;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  transition: all .3s ease;
  // box-shadow: 0 27px 24px 0 rgba(0,0,0,.2), 0 40px 77px 0 rgba(0,0,0,.22);
  // border-radius: 6px;
  border: none;
}

.modal-header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 24px 0;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  font-size: 30px;

  .modal-close-button {
    right: 30px;
    top: 30px;
    i {
      font-size: 35px !important;
      opacity: 1;
      color: #050505 !important;
    }
  }
  .md-button {
    right: 30px;
    top: 30px;
    .md-button-content i{
      // font-size: 16px !important;
      font-size: 35px !important;
      opacity: 1;
      color: #050505 !important;
      &:hover,
      &:focus{
        opacity: 1;
      }
    }
  }
}

.modal-footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 24px;
  padding-top: 0;

  .md-button{
    margin: 0;
    .md-ripple{
      padding-left: 16px !important;
      padding-right: 16px !important;
      width: auto;
    }
  }
}

.notice-modal + .modal-mask .modal-footer,
.small-alert-modal + .modal-mask .modal-footer{
  justify-content: center;
}

.instruction{
  margin-bottom: 25px;
}

.small-alert-modal + .modal-mask .modal-container{
  width: 300px;
  margin: 0 auto;

  .modal-body{
    margin-top: 20px;
  }
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-default-button {
  position: absolute !important;
  right: 9px;
  top: 12px;
}

.vendor-create-event{
    .modal-container{
        width: 832px !important;
        max-width: 832px !important;
        overflow: hidden;
    }
}

.proposal-submitting-modal{
    .modal-container{
        width: 894px !important;
        max-width: 894px !important;
        height: 579px;
        overflow: hidden;
    }
}
.sync-calendar-modal-fix{
    .modal-container{
        width: 712px !important;
        max-width: 712px !important;
    }
}

.event-icons-modal{
    .content-wrapper {
        width: 712px;
    }
    .modal-header{
        width: 712px;
        padding-left: 55px;

    }
    .modal-body{
        padding-bottom: 0px;
    }
    .subtitle{
        font-size: 16px !important;
    }
    }
.proposal-graph{
  &:hover{
    cursor: pointer;
  }
}
.proposal-graph-modal{
  .modal-container{
    width: 1170px !important;
    max-width: 1170px !important;
    height: 810px;
    overflow: hidden;
  }
  .modal-header{
    background-color: #f3f7fd;
    height: 169px;
    padding: 40px 60px;
  }
  .modal-header .md-button {
    right: 50px;
    top: 27px;
  }
  .two-columns{
    width: 1050px;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .title-header-modal{
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    color:#641856;
  }
  .info_proposal{
    margin-top: 14px;
    font-size: 20px;
    color: #050505;
  }
  .info-proposal-divider{
    margin-left: 15.5px;
    margin-right: 18.5px;

  }
  .info-proposal-divider-item{
    height: 26.4px;
    width: 0;
    border: solid 0.5px #050505;
  }
  .send-message-block{
    width: 916px;
    height: 66px;
    border-radius: 3px;
    border: solid 1px #641856;
    margin-left: 157px;
    margin-top: 82px;
    display: flex;
    align-items: center;
  }
  .send-message-img{
    margin-left: 36px;
  }
  .graph-button{
    margin-left: 27px;
  }
  .graph-block{
    height: 341px;
    width: 1000px;
    margin: 42px;
  }
  .right_text{
    font-size: 16px;
    color: #2cde6b;
    margin-right: 80px;
    margin-top: 10px;
    font-weight: 700;
    display: flex;
  }
  .right_text_percents{
    font-size: 37px;
    margin: 20px 0 0;
    font-weight: bold;
  }
  .first_item{
    fill: #641956;
    font-weight: 600;
    position: relative;
    }
  .last_item{
    fill: #641956;
    font-weight: 600;
      }
  }

.proposal-pie-chart{
  width: 200px;
}
.proposal-pointer{
  width: 40px;
  position: relative;
  left: 125px;
  bottom: 10px;
  transform: rotate(17deg);
}

@media (max-width: 960px) {
    .modal-mask{
        align-items: flex-end;

        .modal-container {
            min-width: 100%;
            width: 100%;
            border-radius: 15px 15px 0 0;

            .modal-header{
                padding: 20px 12px;
                justify-content: space-between;
                font-size: 16px;
                border: 1px solid #e7e9eb;
            }

            .modal-body{
                padding: 15px;
            }
            .modal-footer{
                display: none;
            }
        }
    }
}
