.event-concept-section {
  .concept-content {
    width: 100%;
    overflow: hidden;
    .selected-concept-footer {
      background: #FFF;
      padding: 30px 60px;
      .concept-saved{
        color:#3c4858 ;
        padding: 12px 30px;
        font-family: "Manrope-ExtraBold";
        display: inline-block;
      }
      .separate {
        &:before {
          content: " ";
          position: absolute;
          margin-top:10px;
          height: 30px;
          width: 1px;
          background: #B7B7B7;
        }
      }
    }
  }
}